#loadingImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
}

.no_text_decoration{
  text-decoration: none !important;
}

/* splice graph : start */
#cy {
    height: 400px;
  }
/* splice graph : end */

/* tables : start */
.table-container {
  width:100%;
  max-height: 400px;
  overflow: auto;
  /* StickyHeaders */
  position: relative;
  padding: 0 5px;
  overflow-y: auto;
}

tbody tr.alt-row td {
  background: #F5F5F5;
}
/* tables : end */

/* msa : start */
.msa-container {
  width:100%;
  overflow: auto;
}
/* msa : end */

/* sticky footer : start */
.page {
  min-height:100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.footer {
  font-size: small;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #e9ecef;
  text-align: center;
}
/* sticky footer : end */
